# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# Payload
.env
src/payload-types.ts
public/media/

# Misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*

# Local env files
.env*.local
_tmp_*
